# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
scratchpad

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# content
public/elin_carlsson_CV_en_20231127.pdf
public/lil-1.png
public/nex-1.svg
public/rel-1.svg
public/scg-1.svg
public/scg-2.svg
public/scg-3.svg
public/syn-1.svg
public/syn-2.svg
public/syn-3.svg
public/syn-4.jpg
public/syn-5.svg
public/syn-6.svg
