.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: var(--color-background-paper);
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right: solid 1px grey;
}

.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

.sidebar a:hover:not(.active) {
    background-color: cadetblue;
    color: white;
}