.layout {
  display: grid;
  grid-template-columns: 1fr min(42em, 100%) 2fr;
  row-gap: 1em;
  --section-heading-size: 1.25em;
  --section-heading-color: var(--color-primary);
  padding-bottom: 4em;
}

.layout > * {
  grid-column: 2;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }

  .layout > * {
    grid-column: 1;
  }
}

.layout p,
.layout li {
  font-family: var(--font-lora), Georgia, serif;
  line-height: 1.8;
}

.title {
  font-size: 2.5em;
  font-weight: var(--font-weight-semibold);
  line-height: 120%;
  letter-spacing: 0.015625em;
  padding-bottom: 0.25em;
}

.tldr-section hr {
  margin-top: 3em;
}

.tldr-section h2 {
  font-size: var(--section-heading-size, 1.5em);
  margin-top: 2rem;
  margin-bottom: 0.5em;
  color: var(--color-primary);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
