.layout-container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: flex-end;
    width: 100%;
}

.project-list {
    display: flex;
    flex-direction: column;
    width: 66.67%;
}

@media (max-width: 768px) {
  .project-list {
    width: 100%;
  }
}