* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
  background-color: var(--color-background-paper);
}

:root {
  --color-text-default: rgba(0, 0, 0, 0.87);
  --color-text-muted: rgba(0, 0, 0, 0.72);
  --color-text-emphasis: #000000;
  --color-background-paper: #ffffff;
  --color-background-backdrop: rgba(0, 0, 0, 0.48);
}