* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-width: 20em;
}

body {
  color: var(--color-text-default);
  font-family: Helvetica Neue, var(--font-open-sans), sans-serif;
}

.content {
  background-color: var(--color-background-paper);
  padding: 1em;
  width: 100%;
}

body.no-scroll {
  overflow: hidden;
}

p {
  font-size: 0.875em;
  line-height: 140%;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-position: inside;
  padding-left: 1.5em;
  width: 95%;
}

li {
  list-style-position: outside;
  margin-top: 1em;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.page-header {
  color: var(--text-emphasis);
  font-family: var(--font-sora);
  font-size: 2em;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.015625em;
  line-height: 120%;
}

img {
  max-width: 100%;
}

.hero {
  font-size: 3.75em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-sora);
}

@media screen and (min-width: 572px) {
  p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1120px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .page-header {
    font-size: 3em;
    font-weight: 700;
  }

  .content {
    padding: 2em;
  }

  .hero {
    font-size: 6em;
  }
}

:root {
  --color-text-default: rgba(0, 0, 0, 0.87);
  --color-text-muted: rgba(0, 0, 0, 0.72);
  --color-text-emphasis: rgba(0, 0, 0, 1);
  --color-text-contrast: #ffffff;
  --color-background-paper: #ffffff;
  --color-background-backdrop: rgba(0, 0, 0, 0.56);
  --color-border-default: rgba(0, 0, 0, 0.32);
}
