.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    font-size: 1.25rem;
    font-weight: var(--font-weight-semibold);
    font-family: inherit;
    color: inherit;
    padding: 0.25em 0em;
    background-color: transparent;
    border: none;
}

.button:hover {
    color: var(--color-text--hover);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.button:active {
    color: var(--color-text-default);
}
