.button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.25em;
    font-size: 1.25em;
    font-weight: var(--font-weight-semibold);
    font-family: inherit;
    /* text-transform: uppercase; */
    padding: 0.25em 0em;
    background-color: transparent;
    border: none;
}

.button:hover {
    background-color: var(--color-background-action--hover);
}

.button:active {
    background-color: transparent;
}
