.cat-tag {
  border: solid 0.1em currentColor;
  color: inherit;
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.25em;
  white-space: nowrap;
  line-height: 1;
}

.cat-tag p {
  text-align: justify;
  font-size: 1em;
  font-style: normal;
  font-weight: var(--font-weight-regular);
  line-height: 0.5em;
  letter-spacing: 0.00875;
}
