.cat-tag {
    height: 1.625;
    border: solid 0.0875em black;
    padding: 0.5em;
    display: flex;
}

.cat-tag p {
text-align: justify;
font-size: 0.875em;
font-style: normal;
font-weight: var(--font-weight-regular);
line-height: 0.5em;
letter-spacing: 0.00875;
}