.sections {
  display: flex;
  flex-direction: column;
}

.section + .section {
  margin-top: 1em;
}

.section-header {
  font-size: var(--section-heading-size, 1.5em);
  margin-top: 2rem;
}

.section-header + * {
  margin-top: 0.5em;
}

.img-wrapper {
  position: relative;
  padding: 1em 0;
  width: 100%;
  min-height: 20rem;
}
