.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em var(--page-padding-x);
  font-size: 1.25em;
  font-weight: var(--font-weight-semibold);
}

.divider {
  flex: 0 0 100%;
  background-color: black;
  height: 2px;
  margin-bottom: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.col-right {
  align-items: flex-end;
}

.disabled {
  color: #ADADAD;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.arrowExternal {
  transform: rotate(-135deg);
}
