.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em var(--page-padding-x) 1em var(--page-padding-x);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
}

.divider {
  flex: 0 0 100%;
  background-color: black;
  height: 2px;
  margin-bottom: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.col-right {
  align-items: flex-end;
}

.disabled {
  color: #ADADAD;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.25em;
}

.link:hover {
  color: var(--color-text--hover);
}

.arrow {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.arrow-external {
  transform: rotate(-135deg);
}
