.menu-item {
    font-family: var(--font-sora);
    font-weight: 600;
    font-size: 18px;
    height: 32px;
    display: flex;
    color: var(--color-text-emphasis);
    text-decoration: none;
    align-self: stretch;
    padding-left: 32px;
    align-items: center;
}

.menu-item:hover{
    background-color: var(--color-text-emphasis);
    color: white;
}