.menu-item {
    font-family: var(--font-sora);
    font-weight: 600;
    font-size: 1.125em;
    height: 2em;
    display: flex;
    color: var(--color-text-emphasis);
    text-decoration: none;
    align-self: stretch;
    padding-left: 2em;
    align-items: center;
}

.menu-item:hover{
    background-color: var(--color-text-emphasis);
    color: var(--color-text-contrast);
}