.modal-backdrop {
    background-color: var(--color-background-backdrop);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0 1.5em;
    z-index: 2;
}

.modal-wrapper {
    background-color: var(--color-background-paper);
    width: 70vw;
    max-width: 75em;
    border-radius: 0.1875;
    padding: 1.5em;
    border-radius: 0.5em;
    padding: 2em;
    margin: 3px auto;
}