.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-paper);
  padding: 2.25em var(--page-padding-x);
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a,
.header-menu span {
  font-size: 1.25em;
  font-weight: var(--font-weight-semibold);
  margin-left: 0.25em;
}

.disabled {
  color: #ADADAD;
}
