.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-paper);
  padding: 2.25em var(--page-padding-x);
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a {
  font-size: 1.25em;
  font-weight: 600;
  margin-left: 0.25em;
}
