.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-background-paper);
  padding: 2.25rem var(--page-padding-x);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semibold);
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-menu a,
.header-menu span {
  margin-left: 0.25em;
}

.nav-item {
  white-space: nowrap;
}

.disabled {
  color: #ADADAD;
}

@media (max-width: 740px) {
  .page-header {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }
}
