.layout {
    display: grid;
    grid-template-columns: 1fr 42em 2fr;
}

.layout > * {
    grid-column: 2;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    margin-top: 0.75em;
}

.section-header {
    margin-top: 1em;
}

.img-wrapper {
    position: relative;
    padding: 1em 0;
    width: 100%;
    min-height: 20rem;
}

  