.wrapper {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: center;
  padding: 1em 0;
}

.project-list-item-title {
  font-weight: var(--font-weight-medium);
  font-size: 1.25em;
  min-width: 0;
}

.tag-section {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
}
