.project-card {
    width: 25em;
    height: 20em;
    border: solid 0.0625em grey;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5em;

}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
}

.card-header {
    color: var(--text-emphasis, #000);
    font-family: var(--font-sora);
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.015em;
    margin-bottom: 0.5em;
}