.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    min-width: 240px;
    background-color: var(--color-background-paper);
    height: 100vh;
    border-right: solid 1px grey;
    top: 0;
    position: sticky;
}

.logo {
    width: 176px;
    height: 72px;
    margin-top: 32px;
    margin-bottom: 40px;
}

.social-link-group {
    display: flex;
    row-gap: 2px;
    height: 24px;
    flex-grow: 1;
    align-self: stretch;
    align-items: flex-end;
    padding: 32px;
}