.layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1;
}

.heading {
  font-size: 2em;
  font-weight: var(--font-weight-semibold);
}

.image-wrapper {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

.image-wrapper img {
  width: 34em;
  height: auto;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .image-wrapper {
    justify-content: center;
  }

  .image-wrapper img {
    width: 70%;
  }
}
